[submodule "CarND-Term1-Starter-Kit-Test"]
	path = CarND-Term1-Starter-Kit-Test
	url = ./CarND-Term1-Starter-Kit-Test
[submodule "CarND-Term1-Starter-Kit"]
	path = CarND-Term1-Starter-Kit
	url = ./CarND-Term1-Starter-Kit
