[submodule "CarND-Term1-Starter-Kit-Test"]
	path = external-resources/CarND-Term1-Starter-Kit-Test
	url = ./CarND-Term1-Starter-Kit-Test
[submodule "CarND-Term1-Starter-Kit"]
	path = external-resources/CarND-Term1-Starter-Kit
	url = ./CarND-Term1-Starter-Kit
[submodule "CarND-LaneLines-P1"]
	path = external-resources/CarND-LaneLines-P1
	url = ./CarND-LaneLines-P1
[submodule "sdc-lanelines"]
	path = sdc-lanelines
	url = git@github.com:supertetelman/sdc-lanelines.git
[submodule "CarND-TensorFlow-Lab"]
	path = external-resources/CarND-TensorFlow-Lab
	url = https://github.com/udacity/CarND-TensorFlow-Lab.git
[submodule "CarND-LeNet-Lab"]
	path = external-resources/CarND-LeNet-Lab
	url = https://github.com/udacity/CarND-LeNet-Lab.git
[submodule "CarND-Traffic-Sign-Classifier-Project"]
	path = external-resources/CarND-Traffic-Sign-Classifier-Project
	url = https://github.com/udacity/CarND-Traffic-Sign-Classifier-Project
[submodule "external-resources/CarND-Alexnet-Feature-Extraction"]
	path = external-resources/CarND-Alexnet-Feature-Extraction
	url = https://github.com/udacity/CarND-Alexnet-Feature-Extraction
[submodule "external-resources/CarND-Behavioral-Cloning-P3"]
	path = external-resources/CarND-Behavioral-Cloning-P3
	url = git@github.com:udacity/CarND-Behavioral-Cloning-P3.git
[submodule "external-resources/CarND-Transfer-Learning-Lab"]
	path = external-resources/CarND-Transfer-Learning-Lab
	url = https://github.com/udacity/CarND-Transfer-Learning-Lab
[submodule "sdc-behavioral-cloning"]
	path = sdc-behavioral-cloning
	url = git@github.com:supertetelman/sdc-behavioral-cloning.git
[submodule "external-resources/CarND-Camera-Calibration"]
	path = external-resources/CarND-Camera-Calibration
	url = https://github.com/udacity/CarND-Camera-Calibration
[submodule "external-resources/CarND-Advanced-Lane-Lines"]
	path = external-resources/CarND-Advanced-Lane-Lines
	url = https://github.com/udacity/CarND-Advanced-Lane-Lines
[submodule "sdc-advanced-lane-lines"]
	path = sdc-advanced-lane-lines
	url = git@github.com:supertetelman/sdc-advanced-lane-lines.git
