[submodule "CarND-Term1-Starter-Kit-Test"]
	path = CarND-Term1-Starter-Kit-Test
	url = ./CarND-Term1-Starter-Kit-Test
[submodule "CarND-Term1-Starter-Kit"]
	path = CarND-Term1-Starter-Kit
	url = ./CarND-Term1-Starter-Kit
[submodule "CarND-LaneLines-P1"]
	path = CarND-LaneLines-P1
	url = ./CarND-LaneLines-P1
[submodule "sdc-lanelines"]
	path = sdc-lanelines
	url = git@github.com:supertetelman/sdc-lanelines.git
